
* {
  background-image: url("./background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

table {
  border: solid;
  width: 20%;
  table-layout: fixed;
  margin: auto;
}

th, td {
  border-bottom: solid black;
  width: 20%;
}
td {
  background-color: white;
}

th {
  background-color: blue;
  color: blue;
}

.slider {
  font-size: 20pt;
  display: flex;
  justify-content: center;

  font-weight: bold;
  margin: auto;
}
.sidebar {
  position: fixed;
}


.sidebar ul {
  list-style: none;
}

.sidebar li {
  font-size: 30pt;
  padding: 10px;
}

.sidebar-item {
  color: black;
}

.sidebar-item:hover {
  color: blue;
}

.submit {
  border: none;
  font-weight: bold;
  font-size: 15pt;
}

.submit:hover {
  color: blue;
}